.item-divider{
    border-bottom: 1px var(--ion-color-light-tint);
}

ion-card-content p:hover{
    text-decoration: underline;
    cursor: pointer;
}

ion-card {
    border-radius: 14px 1px 14px 14px;
}